@import "./palette";
@import "./shortcodes";

#guides {
  margin: 40px;
  h1 {
    margin-bottom: 15px;
  }
  ul {
    margin-left: 0px;
  }
  li {
    margin: 8px 0 8px 0;
    list-style: none;
  }
  li.title {
      font-size: 14px;
      font-weight: bold;
  }
  a {
    @include external-link();
  }
}
