@import "./palette";
@import "./font-faces";
@import "./shortcodes";

.center {
  text-align: center;
}

#prod-index {
  .tetris-top-left{
    display: block;
    background-image: url(/img/tetris-1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    left: 15px;
    top: 100px;
    height: 135px;
    width: 426px;
  }
  .tetris-top-right{
    display: block;
    background-image: url(/img/tetris-2.png);
    background-repeat: no-repeat;
    background-size: 75%;
    position: absolute;
    right: 15px;
    top: 200px;
    height: 154px;
    width: 134px;
  }
  .tetris-mid-right{
    display: block;
    background-image: url(/img/tetris-3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 15px;
    top: 700px;
    height: 199px;
    width: 159px;
  }
  .centered {
    max-width: 1240px;
  }
  .main {
    margin-top: 32px;
    h1 {
      margin-bottom: 15px;
      font-size: 48px;
    }
    p {
      font-size: 18px;
    }
  }
  #sections {
    margin: 62px 35px 0 35px;
    .see-more-check {
      display: none;
    }
    .see-more-wrap {
      display: none;
      margin-bottom: 0px;
    }
    .see-more-check:checked ~ .see-more-wrap {
      display: block;
    }
    .see-more-check ~ .see-more-trigger:before {
      content: 'See more...';
    }
    .see-more-check:checked ~ .see-more-trigger:before {
      content: 'See less';
    }
    .see-more-trigger {
      cursor: pointer;
      display: inline-block;
      color: #165ECC;
    }
    .apis-list {
      margin-bottom: 0px;
    }
    h3 {
      font-family: CircularPro;
      color: $nav-item;
      font-size: 24px;
      margin-bottom: 20px;
    }
    ul {
      margin-left: 0px;
      li {
        margin: 8px 0 8px 0;
        list-style: none;
        font-size: 14px;
        a {
          &:hover{
            text-decoration: underline;
          }
        }
        a.external-link {
          @include external-link();
        }
      }
    }
    li.title {
        color: $heading-3;
        font-size: 14px;
        font-weight: bold;
    }
  }
}
